<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alpaco.dev.mapper.ReviewMapper">
    <resultMap id="ResultMap" type="com.alpaco.dev.dto.review.ReviewListResponseDto">
        <id column="reviewId" property="reviewId"/>
        <id column="reservationId" property="reservationId"/>
        <id column="score" property="score"/>
        <id column="content" property="content"/>
        <id column="updatedAt" property="updatedAt"/>
        <collection property="reviewImageUrls" column="reviewId" select="findAllDescImgList"/>
    </resultMap>
    <select id="findAllDesc" resultMap="ResultMap" parameterType="int">
        SELECT r.review_id      as reviewId,
               r.reservation_id as reservationId,
               r.score,
               r.content,
               r.updatedAt
        FROM Review r
                 left join Reservation r2 on r.reservation_id = r2.reservation_id
        WHERE r.status = 'ACTIVE'
          and r2.room_id = #{roomId}
        LIMIT #{limit} OFFSET #{offset}
    </select>
    <select id="findAllDescImgList" resultType="String">
        SELECT review_image_url
        FROM ReviewImage
        WHERE review_id = #{reviewId}
    </select>

</mapper>
